section {
	width: 50%;
	min-height: 1em;
	max-height: 10em;
	padding: 0.5em;
	overflow-y: scroll;
	line-height: 1.5em;
	border: 1px solid #DDD;
	font-family: monospace;
}

section span.block {
	margin-right: 7px;
}

section span.block:hover {
	cursor: help;
}

/* http://www.colourlovers.com/palette/3261255/Bookkeeping_Service */

section span.block:nth-child(5n) {
	background: #FADDD7;
}

section span.block:nth-child(5n+1) {
	background: #FAF0D7;
}

section span.block:nth-child(5n+2) {
	background: #DAFAD7;
}

section span.block:nth-child(5n+3) {
	background: #D7F4FA;
}

section span.block:nth-child(5n+4) {
	background: #EBD7FA;
}	
